body {
    background-image: url("../images/BYulaG960.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #000;
}

@font-face {
    font-family: STARWARS;
    src: url("../font/STARWARS.eot") format("eot"), url("../font/STARWARS.woff") format("woff"), url("../font/STARWARS.ttf") format("truetype"), url("../font/STARWARS.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: STARWARS;
    font-size: 4em;
    text-align: center;
    text-shadow: 3px 3px 2px rgb(185, 146, 146);
    color: #4d4d4f;
    padding: 15px;
}

.top h1 {
    font-size: 3em;
}

h3,
p {
    color: #a2a2ac;
    text-align: center;
    padding: 10px;
    font-size: 1.4em;
}

header {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

#left,
#leftMiddle,
#rightMiddle,
#right {
    float: left;
    margin: 10px;
}

.container {
    margin: 0 auto;
}

.top {
    width: 55%;
    height: 250px;
    float: left;
}

.top img {
    width: 150px;
    box-shadow: 4px 4px 5px rgb(185, 146, 146);
    display: block;
    margin: 0 auto;
}

.top img:hover {
    width: 155px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(185, 146, 146);
}

#winner img {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.top2 {
    width: 40%;
    height: 250px;
    float: left;
}

#topLeft,
#topMiddle,
#topRight {
    float: left;
    margin: 0 10px;
    width: 28%;
    height: 190px;
}

.bottom {
    clear: both;
    width: 50%;
    height: 350px;
}

.buttonGameStart {
    width: 50%;
}

#new {
    margin: 40px 20px;
}

#newL img,
#newR img {
    width: 180px;
    box-shadow: 5px 5px 5px rgb(185, 146, 146);
    display: block;
    margin: 0 auto;
}

.bottomLeft,
.bottomMiddle,
.bottomRight {
    float: left;
    margin: 20px;
}

.bottomLeft,
.bottomRight {
    width: 30%;
    height: 305px;
}

.bottomMiddle {
    width: 20%;
    height: 305px;
}

.top2 img {
    width: 100px;
    box-shadow: 5px 5px 6px rgb(243, 9, 9);
    display: block;
    margin: 0 auto;
}

.top2 img:hover {
    width: 105px;
    cursor: pointer;
}

#vs img {
    display: block;
    margin: 85px auto;
    width: 60px;
}

.button {
    width: 40%;
    height: 80px;
}

button {
    width: 200px;
    height: 40px;
    display: block;
    margin: 0 auto;
    color: #fff;
    border-radius: 10px;
    font-size: 1.3em;
    background-color: #4d4d4f;
}

.top button {
    display: block;
    margin: 5px auto;
}

@media screen and (min-width: 979px) and (max-width: 1250px) {
    body {
        background-image: url("../images/BYulaG960.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: #000;
    }
    #left,
    #leftMiddle,
    #rightMiddle,
    #right {
        width: 20%;
        float: left;
        padding: 5px;
        margin: 0 7px;
    }
    .top img {
        margin: 0 auto;
        width: 110px;
        box-shadow: 4px 4px 5px rgb(185, 146, 146);
    }
    .top img:hover {
        width: 105px;
        cursor: pointer;
        box-shadow: 5px 5px 5px rgb(185, 146, 146);
    }
    .top h3 {
        font-size: 1.2em;
        padding: 10px 0;
    }
    .top2 img {
        display: block;
        width: 100px;
        box-shadow: 5px 5px 6px rgb(243, 9, 9);
        margin: 0 auto;
    }
    .top2 img:hover {
        width: 95px;
        cursor: pointer;
    }
    #enemy {
        font-size: 1.4em;
    }
    .top2 h3,
    p {
        color: #a2a2ac;
        text-align: center;
        padding: 10px;
        font-size: 0.99em;
        margin: 3px;
    }
    #topLeft,
    #topMiddle,
    #topRight {
        float: left;
        margin: 0;
        width: 30%;
        height: 190px;
        margin: 0 auto;
    }
    #newL img,
    #newR img {
        width: 140px;
        box-shadow: 5px 5px 5px rgb(185, 146, 146);
        display: block;
        margin: 0 auto;
    }
    #vs img {
        display: block;
        margin: 75px auto;
        width: 50px;
    }
    .bottomLeft,
    .bottomMiddle,
    .bottomRight {
        float: left;
        margin: 20px;
    }
    .bottomMiddle {
        width: 10%;
        height: 200px;
        padding: 3px;
    }
    .bottomLeft,
    .bottomRight {
        width: 25%;
        height: 200px;
    }
    .bottom h3,
    p {
        color: #a2a2ac;
        text-align: center;
        padding: 10px;
        font-size: 1.1em;
        margin: 0;
    }
    .bottom {
        height: 250px;
    }
    button {
        width: 160px;
        margin: 10px 135px;
    }
    #winner img {
        display: block;
        margin: 0 auto;
        width: 300px;
    }
}

@media screen and (min-width: 767px) and (max-width: 980px) {
    body {
        background-image: url("../images/BYulaG960.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: #000;
    }
    h1 {
        font-size: 3em;
    }
    #left,
    #leftMiddle,
    #rightMiddle,
    #right {
        width: 20%;
        float: left;
        padding: 2px;
        margin: 0 7px;
    }
    .top2 {
        height: 200px;
    }
    .top img {
        margin: 0 auto;
        width: 90px;
        box-shadow: 4px 4px 5px rgb(185, 146, 146);
    }
    .top img:hover {
        width: 93px;
        cursor: pointer;
        box-shadow: 5px 5px 5px rgb(185, 146, 146);
    }
    .top h3 {
        font-size: .98em;
        padding: 10px 0;
    }
    .top p {
        font-size: .98em;
    }
    .top2 img {
        display: block;
        width: 85px;
        box-shadow: 5px 5px 6px rgb(243, 9, 9);
        margin: 0 auto;
    }
    .top2 img:hover {
        width: 88px;
        cursor: pointer;
    }
    #enemy {
        font-size: 1.4em;
    }
    .top2 h3,
    p {
        color: #a2a2ac;
        text-align: center;
        padding: 10px;
        font-size: 0.95em;
        margin: 3px;
    }
    #topLeft,
    #topMiddle,
    #topRight {
        float: left;
        width: 32%;
        height: 170px;
        margin: 0 1px;
    }
    #newL img,
    #newR img {
        width: 140px;
        box-shadow: 5px 5px 5px rgb(185, 146, 146);
        display: block;
        margin: 0 auto;
    }
    #vs img {
        display: block;
        margin: 100px 14px;
        width: 45px;
    }
    .bottomLeft,
    .bottomMiddle,
    .bottomRight {
        float: left;
        margin: 20px;
    }
    .bottomMiddle {
        width: 10%;
        height: 200px;
        padding: 3px;
    }
    .bottomLeft,
    .bottomRight {
        width: 25%;
        height: 200px;
    }
    .bottom h3,
    p {
        color: #a2a2ac;
        text-align: center;
        padding: 10px;
        font-size: .99em;
        margin: 0;
    }
    .bottom {
        height: 250px;
    }
    button {
        width: 160px;
        margin: 10px 135px;
    }
    #winner img {
        display: block;
        margin: 0 auto;
        width: 300px;
    }
}